/*IMPORT DA FONTE*/
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Allerta', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all .3s ease-in-out;
}
:root {
    --rosaForte: #EE4664;
    --rosaEscuro: #F86A83;
    --rosaMedio: #FF7B92;
    --rosaClaro: #FFC0CB;
    --rosaFundo: #FFEAED;
    --roxo: #560F47;
    --branco: #fff;
    --cinzaFundo: #ECECEC;
}


/*------------HEADER----------*/

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--rosaMedio);
    position: fixed;
    z-index: 100;
}

.header_home {
    height: 100px;
}

.header_scrolled {
    background-color: #ff7b91c5;
    height: 70px;
}

#menu {
    gap: 3rem;
    width: 100%;
    display: flex;
    list-style: none;
    margin-right: 13rem;
    align-items: center;
    justify-content: flex-end;
}

.cor_nav {
    color: var(--branco);
    font-size: 20px;
    display: flex;
}

.cor_nav:hover {
    box-shadow: 0px 2px 0px 0px var(--branco);
}


#perfil {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--branco);
}

#logo_pink {
    margin-left: 13rem;
    width: 300px;
}




/* _____________________________BODY_________________________________ */
.ig_ft{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

#img_fundo_adm{
        
    width: 100%;
    
}

body {
    background-color: var(--cinzaFundo);
    
}

#banner_pink {
    position: absolute;
    z-index: -999;
    width: 100%;
}

